.split-row .right-box {
	position: relative;
	height: 300px;
	box-shadow: 0 2px 2px 1px #eaedef;
	background: #f3f5ff;
	border-radius: 5px;
	padding: 0;
}

.right-box .footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 81px;
	background-color: #efeaf9;
}

.right-box .tab-inn h3 {
	display: flex;
	justify-content: center;
	padding-top: 70px;
	color: #737373;
}

.right-box .footer .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	width: 120px;
	height: 120px;
	margin-top: -62px;
}
.right-box .footer .card.center {
	margin-right: 35px;
	margin-left: 35px;
}

.card .label {
	color: #737373;
	font-family: 'IRSans-light';
	font-size: 18px;
}

.card .res {
	font-size: 26px;
	font-family: 'IRSans-medium';
	margin-bottom: 7px;
}

.card .res-red {
	color: #ff4747;
}

.card .res-green {
	color: #21d352;
}

.card .res-blue {
	color: #4b9cfd;
}

.card .res-gray {
	color: #737373;
}

.split-row .left-box {
	padding-left: 0;
}

.split-row .left-box .repairmen {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 140px;
	align-items: center;
	justify-content: center;
}

.split-row .left-box .repairmen .right {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 110px;
	border-left: 1px dashed #b3bcc5;
	padding-left: 35px;
	margin-left: 30px;
}

.split-row .left-box .card,.split-row .bottom-box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 2px 1px #eaedef;
}

.split-row .left-box .card.center {
	margin: 0.5rem 20px 1rem 20px;
}

.split-row .left-box .card-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.split-row .left-box .card-wrapper .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30.5%;
	height: 140px;
}

.split-row .btm-left .order > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	margin-bottom: 30px;
	color: #737373;
}

.split-row .btm-left .order > div:last-child {
	margin-bottom: 0
}

.split-row .bottom-box.btm-right .transaction > div {
	border-bottom: 1px dashed #b3bcc5;
	height: 97px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: right;
	font-size: 18px;
	font-family: 'IRSans-medium';
	opacity: 0.9
}

.split-row .btm-left .bottom-box {
	margin-right: 4px;
	margin-left: -7px;
	padding: 20px;
	text-align: right;
}

.split-row .bottom-box.btm-right .transaction > div:last-child {
	border-bottom: 0
}

.split-row .bottom-box.btm-right .transaction > div p {
	font-size: 14px;
	color: #737373;
	font-family: 'IRSans-light';
	line-height: 28px;
}

.split-row .bottom-box.btm-right .transaction > div > span {
	color: #737373;
	font-size: 26px;
}

.split-row .bottom-box.btm-right .transaction > div > span img {
	margin-right: 10px
}

.tbl-log td span {
	font-size: 14px;
}

@media (max-width: 1200px) {
	.split-row .left-box .card-wrapper .card {
		width: 100%;
	}

	.split-row .left-box .card.center {
		margin: 0;
	}

	.split-row .left-box .repairmen {
		flex-direction: column;
	}

	.split-row .left-box .repairmen .right {
		height: auto;
		border-left: 0;
		border-top: 1px dashed #b3bcc5;
		padding-left: 0;
		margin-left: 0;
		margin-top: 10px;
		padding-top: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1340px) {
	.right-box .footer .card {
		width: 105px;
		height: 105px;
	}

	.right-box .footer .card.center {
		margin-right: 7px;
		margin-left: 7px;
	}
}

@media (max-width: 992px) {
	.split-row .btm-left {
		padding: 0
	}

	.split-row .btm-left .bottom-box {
		margin-right: 0px;
		margin-left: 0px;
	}

	.split-row .btm-right {
		margin-top: 20px
	}
}

@media (max-width: 620px) {
	.split-row .left-box {
		padding-right: 0;
	}

	.right-box .footer .card {
		width: 72px;
		height: 72px;
		margin-top: -40px;
	}

	.right-box .footer .card .label {
		font-size: 14px;
	}

	.right-box .footer .card.center {
		margin-right: 4px;
		margin-left: 4px;
	}

	.right-box .tab-inn h3 {
		font-size: 19px
	}

	.split-row .bottom-box.btm-right .transaction > div > span {
		font-size: 18px;
	}

	.split-row .bottom-box.btm-right .transaction > div p {
		font-size: 12px;
	}

	.sb2-2 {
		padding: 40px 20px;
	}
}